<div class="container">
    <!--Grid row-->
    <div class="row pt-lg-5 mt-lg-5">
        <!--Grid column-->
        <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
        <h1 class="display-4 font-weight-bold">Meetnoa</h1>
        <h6 class="mb-3">Unete, conoce, experimenta, diviertete!</h6>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-5 col-xl-5 mb-4">
        <!--Form-->
        <div class="card wow fadeInRight" data-wow-delay="0.3s">
            <div class="card-body z-depth-2">
            <!--Header-->
            <div class="text-center">
                <h3 class="dark-grey-text">
                <strong>Iniciar Sesion</strong>
                </h3>
                <hr>
            </div>
            <!--Body-->
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="form3" class="form-control">
                <label for="form3">Email</label>
            </div>
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="form2" class="form-control">
                <label for="form2">Contraseña</label>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-indigo">Iniciar Sesión</button>
                <button class="btn btn-indigo">Registrarse</button>
                <hr>
                <fieldset class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox1">
                <label class="form-check-label" for="checkbox1" class="dark-grey-text">Recordarme</label>
                </fieldset>
                <a href="">¿Olvidaste tu contraseña?</a>
            </div>
            </div>
        </div>
        <!--/.Form-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>

<footer class="page-footer font-small pt-2">
    <div class="footer-copyright text-center py-3">Powered By:
        <a href="https://github.com/brekkaz"> Brekaz</a>
    </div>
</footer>