@import '../node_modules/angular-bootstrap-md/scss/core/_colors';

body{
    background: $purple-darken-1;
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $purple-darken-1, $blue-darken-1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}